.container-fluid
    .row-fluid
        .span2
            .well.sidebar-nav
                %ul.nav-list.nav
                    %li.nav-header
                        Sidebar
                    %li
                        %a{:href => '/'} Link                    
                    %li
                        %a{:href => '/'} Link
                    %li
                        %a{:href => '/'} Link
    
        .span10
            .row-fluid
                .span12
                    %h3
                        Reference:
                    %p= @citation
            
            .row-fluid
                .span4
                    %p= @attachment
                
    %hr

    %div= haml :footer
