.container-fluid
    .row-fluid
        .span2
            .well.sidebar-nav
                %ul.nav-list.nav
                    %li.nav-header
                        Sidebar
                    %li.nav-header
                        %a{:href => '/'} Link
                    %li
                        %a{:href => '/'} Link                    
                    %li
                        %a{:href => '/'} Link
                    %li
                        %a{:href => '/'} Link
    
        .span10
            .row-fluid
                .span12
                    %h2
                        Reference:
                    %p= @citation

                
        %hr

        %div= haml :footer
